version: 2
jobs:
  build:
    machine:
      enabled: true
    steps:
    - run: |
        mkdir -p /tmp/test-results
        mkdir -p /tmp/_circleci_local_build_repo/.
    - checkout
    - run: 
        name: "Build kfx"
        command: ./kind-smoketest.sh

workflows:
  version: 2
  workflow:
    jobs:
    - build
    - hold:
          type: approval
          requires:
           - build
